block append head 
    link(rel='stylesheet' href='/css/profile.css')
    link(rel='stylesheet' href='/css/style.css')


.sidebar
    h2.heading-secondary.ma-bt-md.setting Your account
    a.button.hover.border-green-500.link(href='/admin/courses') Comments
    br
    a.button.hover.border-green-500.link(href="/admin/stats") Courses Stats
    br
 

         