extends base

block append head 
     link(rel='stylesheet' href='/css/alert.css')

block content 
    include _header
    .text-center.text-black.mt-72
        h1.text-8xl.font-bold.mb-4 Embark on Your SkillsBuild Adventure
        p.text-xl.text-gray-500.mb-8 Join our gamified learning journey and unlock new skills with IBM SkillsBuild.
        a.text-blue-500.bg-white.hover-bg-gray-100.font-medium.py-3.px-6.rounded-full.text-lg(href='https://skillsbuild.org/') Learn more
    // Cookie alert at the bottom of the page
    .alertb
        | This site uses cookies to save your data.     
        button.btn.btn-sm.btn-light.ml-2(onclick="this.parentElement.style.display='none';") OK

