doctype html
html(lang="en")
  body
    nav.flex.justify-between.shadow-md.shadow-gray-400.items-center.py-6.px-52
      a(href="#")
        img(src="../../../public/img/ibm-logo.png", alt="IBM Logo", class="h-12")
      div
        a(href="#" class="text-white bg-blue-500 hover:bg-blue-700 font-medium py-2 px-4 rounded") Courses
        a(href="#" class="ml-4 text-blue-500 border border-blue-500 hover:bg-blue-500 hover:text-white font-medium py-2 px-4 rounded") Logout
    .main-container
      .sidebar
        a(href="#" class="button hover:bg-blue-700") Add Friend
        br
        br
        a(href="#" class="button hover:bg-blue-700") Leaderboard
        br
        br
        a(href="#" class="button hover:bg-blue-700") Ranking
        br
        br
        a(href="#" class="button hover:bg-blue-700") Friends
        br
        br
        a(href="#" class="button hover:bg-blue-700") Upload Picture
        br
        br
      .content
        .welcome Welcome, [Person Name]
        p.description.
          As a dedicated lifelong learner and technology enthusiast, I've honed my skills in data science and artificial intelligence through IBM's comprehensive courses. Passionate about applying these skills to solve real-world problems, I'm constantly exploring innovative solutions and collaborating with like-minded professionals.
