extends loginSignup


block append head 
    link(rel='stylesheet' href='/css/LOGIN.css')

block content
    .container.mt-5
        .row.justify-content-center
            .col-md-6.col-lg-4
                .login-form.bg-white.p-4.shadow.rounded-3
                    .text-center.mb-4
                        img(src="/img/ibm-logo.png", alt="IBM Logo", style="width: 120px;")
                    form.form.form--signup
                        .form-group.mb-3
                            label.form-lable(for="name") Name:
                            input#name.form-control(type="text", placeholder="Name", required)
                        .form-group.mb-3
                            label.form-label(for="email") Email:
                            input#email.form-control(type="email", placeholder='you@example.com', required)
                        .form-group.mb-3
                            label.form-label(for="password") Password:
                            input#password.form-control(type="password", placeholder="Password", required, minLength='8')
                        .form-group.mb-3
                            label.form-label(for="cpassword") Confirm Password:
                            input#cpassword.form-control(type="password", placeholder="Confirm Password", required, minLength='8')
                      
                        .form-group
                            button.btn.btn-primary.w-100 Register
                            .text-center.mt-3
                                a.btn.btn-outline-secondary.btn-sm(href="/login") Already have an account? Login
                                