body {
    font-family: "Heiti SC";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    height: 100%;
}


.save__settings{
    background-color: green;
    color: white;;
  }


.upload{
    font-size: 2rem;
    margin-bottom: 30px;
}
.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    max-height: 50px;
}

.navbar .navigation-links {
    display: flex;
}

.navbar .nav-link {
    color: #000;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 500;
}

.navbar .nav-link:hover {
    background-color: transparent;
    color: #0056b3;
    text-decoration: underline;
}

.navbar .action-buttons {
    display: flex;
}

.navbar .action-buttons a {
    padding: 8px 20px;
    margin-left: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.navbar .action-buttons a:hover {
    background-color: #f7f7f7;
    border-color: #0056b3;
    color: #0056b3;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 10px;
    height: calc(100vh - 70px);
    margin: 0;
    width: auto;
}

.sidebar {
    width: auto;
    height: auto;
    background-color: white;
    padding: 22px;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 4px gray;
    border-radius: 10px;
    margin-left: 75px;
}

.content {
    width: calc(100% - 400px);
    background-color: rgba(66, 151, 225, 0.1);
    padding: 20px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px gray;
    margin-left: 10px;
    margin-right: 75px;
    flex-grow: 1;
    max-width: calc(100% - 220px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the content */
    justify-content: center; /* Vertically center the content */
    text-align: center; /* Center the text */

}

.button {
    background-color: rgb(59 130 246);
    color: white;
    font: medium;
    text-align: center;
    padding: 10px;
    box-shadow: 0 2px 4px gray;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}

.welcome {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px; 
    background-image: linear-gradient(to right, #180375, #1d2061);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
}

.description {
    font-size: 25px;
    margin-bottom: 20px;
    
}
.setting{
    background-image: linear-gradient(to right, #6a6a6a, #4b4a4a);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-style: italic;
}

.title{
    margin-bottom: 10px;
    font-style: italic;
}

.reviews-user{
    font-weight: bold;
    margin-top: -2.5rem;
}

.delete_btns {
    background-color: #ff4d4d; /* Red color for delete */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: -2.5rem;
  }
  
.delete_btns:hover {
    background-color: white;
    color: black;
    border: 2px solid #ff4d4d;
  }
 
.delete__reviews{
    width: 29rem;
    height: auto;
    padding: 4rem;
    margin: 5px;
    background-color: #f7f7f7;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    scroll-snap-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content_delete{
    width: calc(100% - 400px);
    background-color: rgba(66, 151, 225, 0.1);
    padding: 10px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px gray;
    margin-left: 10px;
    margin-right: 75px;
    flex-grow: 1;
    max-width: calc(100% - 220px);
    overflow-y: auto;
    display: flex;
    flex-direction: row; /* Align children in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Align items to the start of the container */
    align-items: flex-start; /* Align items to the start of the cross axis */
    gap: 10px; /* This sets a gap between the cards */
    text-align: center; /* Center the text */

}

/* Styles for the 'Check Reviews' button */
.check_btns {
    background-color: white; /* Example button color */
    color: rgb(65, 77, 241);
    text-decoration: none;
    border: 2px solid rgb(65, 77, 241);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: -20px;
    margin-top:10px;
  }
  
.check_btns:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    color: white;
  }


.admin_courses{
    max-width: 10rem;
    height: auto;
    padding-bottom: 10px;
    display: grid;
    align-content: flex-end;
}

.course-name {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        font-style: italic;
        font-weight: 400;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        color: black;
        margin-top:-40px;
        
}
.course-name:hover {
        overflow: visible;
        white-space: normal;
        /* Ensure the text expands to multiple lines */
}
      
*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::before,
::after {
    --tw-content: '';
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

.hover-bg-blue-700:hover {
    background-color: #4d6eec;
}

.hover-bg-blue-500:hover {
    background-color: #4299e1;
}

.hover-text-white {
    color: #fff;
}

.signup:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
    background-color: #4299e1;
    color: white;
}

.nav__el--logout:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.username {
    margin-left: 20px;
    border-radius: 1%;
    text-shadow: #4d6eec;
    text-transform: uppercase;
}

.username:hover {
    box-shadow: 0 4px 8px rgba(107, 107, 107, 0.1);
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

.container {
    width: 100%;
}



.mx-auto {
    margin-left: auto;
    margin-right: auto;
}



    .mb-4 {
    margin-bottom: 1rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mt-24 {
    margin-top: 6rem;
}

.mt-auto {
    margin-top: auto;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-72 {
    margin-top: 12rem;
}

.flex {
    display: flex;
}

.h-12 {
    height: 3rem;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.rounded {
    border-radius: 0.25rem;
}

.rounded-full {
    border-radius: 9999px;
}

.border {
    border-width: 1px;
}

.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity));
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
}

.px-52 {
    padding-left: 13rem;
    padding-right: 13rem;
}

.text-center {
    text-align: center;
}

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-8xl {
    font-size: 6rem;
    line-height: 1;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-gray-400 {
    --tw-shadow-color: #9ca3af;
    --tw-shadow: var(--tw-shadow-colored);
    margin-bottom: 10px;
}

.hover\:bg-blue-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.table-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    
  }

tr {
    border-bottom: 1px solid #ddd;
}

td{
    text-align: center;
}
