extends ../../views/base

block content
  include ../../views/headerCourse
  .main-container
    include navUser
    .content
      .table-title Friends
      br
      table#friends-table
        thead
          tr
            th Username
            th Name
            th Rank
        tbody
          if friend.length === 0
            tr
              td(colspan="2") No friends to display
          else
            each user in friend
              tr
                td #{user.username}
                td #{user.name}
                td #{user.Rank}

