block append head 
    link(rel='stylesheet' href='/css/profile.css')
    link(rel='stylesheet' href='/css/style.css')



.sidebar
    h2.heading-secondary.ma-bt-md.setting Account settings
    a.button.hover.border-green-500.link(href='/account/uploadPhoto') Update Picture
    br
    a.button.hover.border-green-500.link(href="/account/searchFriend") Add Friend
    br
    a.button.hover.border-green-500.link(href="/account/friendsLeaderboard") Leaderboard
    br
    a.button.hover.border-green-500.button.hover.border-green-500.link(href="/account/friends") Friends
    br
    a.button.hover.border-green-500.link(href="/account/level") Level
    br
  

         